/* You can add global styles to this file, and also import other style files */

* { margin:0px;
    font-family: 'Courier New', Courier, monospace; box-sizing: border-box;}

:root{
    
    --toolbar-height:64px;
    --sidebar-width:230px;
}